<div class="card mt-3">
  <div class="card-header">
    <div class="float-left">
      <h4>Empregados</h4>
    </div>
    <div class="float-right">
      <button type="button" class="btn btn-primary" [routerLink]="['novoEmpregado']">Novo Empregado</button>
      <!-- <button type="button" class="btn btn-secondary" (click)="onRefresh()">Atualizar</button> -->
    </div>
  </div>
  <div class="card-body">
    <table class="table table-hover">
      <!-- <table class="table table-hover" *ngIf="(coordenacoes$ | async) as coordenacoes; else loading"></table> -->
      <thead>
        <tr>
          <th>#</th>          
          <th>Matrícula</th>
          <th>Nome</th>
          <th>Coordenação</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let empregado of empregados">
          <td>{{ empregado.id }}</td>
          <td>{{ empregado.matricula }}</td>
          <td>{{ empregado.nome }}</td>
          <td>{{ empregado.coordenacao }}</td>
          <td>
            <span class="float-right">
              <button class="btn btn-outline-warning mb-1 btn-sm" (click)="onEdit(empregado.id)">
                Atualizar
              </button>

              <button class="btn btn-outline-danger mb-1 btn-sm" (click)="onRemove(empregado.id)">
                Remover
              </button>
            </span>
          </td>
        </tr>
      </tbody>
    </table>

    <ng-template #loading>
      <span>Carregando Coordenações...</span>
    </ng-template>
  </div>
</div>

<ng-template #deleteModal>
  <div class="modal-body text-center">
    <p>Tem certeza que deseja remover esse curso?</p>
    <button type="button" class="btn btn-default" (click)="onConfirmDelete()">Sim</button>
    <button type="button" class="btn btn-primary" (click)="onDeclineDelete()">Nao</button>
  </div>
</ng-template>